/* General */
body {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

/* Alignments */
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1199px) {
  .container {
    padding: 0px 30px;
  }
}
.space-between {
  justify-content: space-between;
}
.center {
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.va-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Row styling */
.row {
  display: flex;
}
.grid {
  display: grid;
  justify-content: center;
}
.grid-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-1-2 {
  grid-template-columns: 1fr 2fr;
}
.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}

@media screen and (max-width: 939px) {
  .grid-7 {
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
  }
  .grid-3 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid-2-1 {
    grid-template-columns: 2fr 1fr;
  }
}

.box {
  padding: 25px;
  box-shadow: 5px 5px 30px -10px rgba(0, 0, 0, 0.55);
  margin: 30px 0px;
  border-radius: 10px;
}
.col-half {
  width: 50%;
}
.col-one-third {
  width: 33.33%;
}
.col-two-third {
  width: 66.66%;
}

/* Typography */
.heading-font {
  font-family: "Montserrat", sans-serif;
}
.heading-1 {
  font-size: 50px;
  line-height: 1.2;
  margin: 0;
}
.heading-2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0;
}

@media screen and (max-width: 939px) {
  .heading-1 {
    font-size: 40px;
  }
  .heading-2 {
    font-size: 26px;
  }
}

.testimonial-text {
  font-style: italic;
}
.blue-color {
  color: #1c6dd0;
}
p {
  font-size: 20px;
  line-height: 1.2;
}
.p-margin-vertical {
  margin: 40px 0;
}

/* Background Color*/
.bg-teal {
  background-color: #c1ffd79c;
}
.bg-coral-blue {
  background-color: #7deeff9c;
}
.bg-cream {
  background-color: #fff5b79c;
}

/* Card Styling*/
.card-padding {
  padding: 20px 40px;
}
.card-image {
  width: 250px;
}

/* Button */
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
  background: rgb(224, 44, 109);
  color: #ffffff;
  border-radius: 35px;
  font-weight: 700;
}

.btn-inverse {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 15px 30px;
  text-decoration: none;
  background: #ffffff;
  color: rgb(224, 44, 109);
  border-radius: 35px;
  font-weight: 700;
}

.btn i,
.btn-inverse i {
  margin-left: 10px;
}

/* Image */
.img {
  width: 80%;
}

/* Extras */
.vert-center {
  align-items: center;
}
.margin-20-vert {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-20-hor {
  margin-left: 20px;
  margin-right: 20px;
}
.round-corner {
  border-radius: 15px;
  margin: 15px;
}
.border-left {
  border-left: 5px solid #1c6dd0;
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

/***************** 
Specific Section 
*****************/

/* Header */

.logo a {
  text-decoration: none;
  color: #171717;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.navbar > ul {
  display: flex;
}

.navbar li {
  margin-right: 20px;
  list-style-type: none;
}

.navbar li a {
  text-decoration: none;
  line-height: 32px;
  font-size: 16px;
  color: #171717;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.navbar li i {
  font-size: 24px;
}

/* Hero */

#hero img {
  max-width: 465px;
}

#hero i {
  margin-left: 20px;
}

/* Brand */

#brand {
  margin: 50px 0px;
}

#brand .bg-img {
  width: 100%;
  height: auto;
}

#brand img {
  height: 30px;
}

#brand > div {
  background-image: url(/images/brand-back.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Popular Collection */

#popular-collection {
  margin: 50px 0px;
}

#popular-collection .product {
  margin: 15px;
  box-shadow: 5px 5px 30px -10px rgba(0, 0, 0, 0.55);
  padding: 20px 15px;
  border-radius: 5px;
}

#popular-collection .product img {
  width: 100%;
}

#popular-collection .product .title {
  font-size: 28px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-weight: 700;
  color: #171717;
  margin: 10px 0px;
}

#popular-collection .product .price {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  color: #171717;
  margin: 10px 0px;
}

#popular-collection .product .rating {
  padding: 10x 0px;
}

#popular-collection .product i {
  font-size: 16px;
  line-height: 1.2;
  color: #ffc600;
}

#popular-collection .product .rating p {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin-left: 10px;
}

#popular-collection .product .description {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin: 10px 0px;
  color: #787885;
}

/* Testimonial */

#testimonial {
  margin-top: 50px;
  margin-bottom: 50px;
}

#testimonial img {
  width: 350px;
  border-radius: 200px;
}

@media screen and (max-width: 939px) {
  #testimonial img {
    width: 100%;
    border-radius: 200px;
  }
}

/* Footer */

footer {
  padding: 40px;
  background-color: #171717;
  color: #ffffff;
}

footer .logo a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

footer p {
  font-size: 16px;
}

footer .social-icons {
  justify-content: center;
}

footer .social-icons i {
  margin: 10px 20px;
  color: #ffffff;
  font-size: 20px;
}
